/* REGLES GENERALES */
@-webkit-keyframes apparition {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

body, nav, ul, p, h2, h3, h1, figure {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.27rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

#bloc-page {
  width: 100%;
  margin: auto;
  max-width: 1400px;
}

.heart {
  margin-right: 20px;
  position: relative;
  font-size: 1.4rem;
}

.heart::before {
  content: "";
  font-weight: bold;
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.heart .fas {
  position: absolute;
  top: 3px;
  left: 2px;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
}

.heart .fas:hover {
  color: #9356DC;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

/* PAGE D'ACCUEIL */
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo img {
  width: 150px;
  height: 25px;
}

.loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e5e5e5;
  opacity: 0.8;
  padding: 10px;
  -webkit-box-shadow: 0px 5px 10px lightgrey;
          box-shadow: 0px 5px 10px lightgrey;
}

.loc__subtext {
  margin-left: 10px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  background: #f9f9f9;
  text-align: center;
}

.description__subtext {
  margin-top: 15px;
}

.search-but {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 5px 10px lightgrey;
          box-shadow: 0px 5px 10px lightgrey;
  padding: 15px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  cursor: pointer;
  border-width: 0;
}

.search-but__texte {
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.search-but:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.9;
  -webkit-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
}

.fonc__heading {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.fonctionnement__cartouche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
  border-radius: 24px;
  background: #f9f9f9;
  -webkit-box-shadow: 0px 5px 10px lightgrey;
          box-shadow: 0px 5px 10px lightgrey;
  padding: 30px;
  max-width: 290px;
  min-width: 230px;
  cursor: pointer;
}

.fonctionnement__cartouche:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background: rgba(167, 122, 255, 0.15);
}

.fonctionnement__cartouche:hover .fas {
  color: #9356DC;
  opacity: 1;
}

.fonctionnement__cartouche--blue {
  background: rgba(167, 122, 255, 0.15);
}

.fonctionnement__texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

.fonctionnement .number {
  color: #fff;
  background: #9356DC;
  border-radius: 60px;
  padding: 5px 10px;
  height: 18px;
  margin-left: -40px;
}

.fonctionnement p {
  margin-left: 20px;
  font-weight: 600;
  font-size: 0.9rem;
}

.fonctionnement i {
  opacity: 0.5;
}

.fonctionnement .fa-store {
  color: #9356DC;
  opacity: 1;
}

.restau {
  background: #f9f9f9;
}

.restau__heading {
  padding-bottom: 10px;
  padding-top: 50px;
  margin-left: 15px;
}

.restau .choix-restau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 40px;
}

.restau .choix-restau__figure {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px lightgrey;
          box-shadow: 0px 5px 10px lightgrey;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.restau .choix-restau__figure:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

@media (min-width: 600px) {
  .restau .choix-restau__figure {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.restau .choix-restau__nouveau {
  background: #99E2D0;
  color: #278870;
  width: 65px;
  padding: 6px;
  border-radius: 4px;
  padding-right: 8px;
  padding-left: 8px;
  position: absolute;
  top: 0;
  right: 10px;
  margin-top: 10px;
}

.restau .choix-restau__figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restau .choix-restau__texte {
  margin-left: 10px;
}

.restau .choix-restau__heading {
  padding-top: 10px;
}

.restau img {
  width: 290px;
  height: 170px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  font-family: 'Shrikhand';
  color: #fff;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 15px;
}

.footer__link {
  margin-bottom: 10px;
  margin-left: 15px;
}

.footer__link--bold {
  color: #fff;
}

.footer a {
  color: #e6e6e6;
}

.footer i {
  padding-right: 10px;
}

.footer .fa-hands-helping {
  font-size: 0.7rem;
}

@media (min-width: 600px) {
  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* PARTIE MENU */
.fleche-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fleche-logo img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
}

.fleche-logo a {
  margin-top: 12px;
  padding-left: 15px;
  position: absolute;
  left: 10px;
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background img {
  width: 100%;
  max-height: 400px;
  min-height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f9f9f9;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 980px) {
  .menu__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-left: 10px;
  border-radius: 30px 30px 0px 0px;
  margin-top: -50px;
  background: #f9f9f9;
}

.menu__title .fas {
  top: 11px;
}

@media (min-width: 600px) {
  .menu__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__title h1 {
    padding-right: 40px;
  }
}

.menu h1 {
  font-family: 'Shrikhand';
  font-size: 1.5rem;
}

.menu h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.menu .heart {
  padding-top: 7px;
}

@media (min-width: 980px) {
  .choix-plat {
    margin-right: 20px;
  }
  .choix-plat--bis {
    margin-right: 0;
  }
}

@media (min-width: 1080px) {
  .choix-plat {
    margin-right: 40px;
  }
  .choix-plat--bis {
    margin-right: 0;
  }
}

.choix-plat__heading {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 3px;
  font-weight: lighter;
  width: 40px;
  background: #f9f9f9;
  margin-bottom: 30px;
  margin-top: 40px;
  font-size: 1.1rem;
  opacity: 0.75;
}

.choix-plat .cartouche-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: #fff;
  width: 275px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
  padding-left: 5px;
  margin-bottom: 18px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px lightgrey;
          box-shadow: 0px 5px 10px lightgrey;
  border: 1px solid #fff;
  cursor: pointer;
  height: 40px;
  overflow: hidden;
}

.choix-plat .cartouche-menu--first {
  -webkit-animation: apparition 1.2s;
          animation: apparition 1.2s;
}

.choix-plat .cartouche-menu--second {
  -webkit-animation: apparition 1.4s;
          animation: apparition 1.4s;
}

.choix-plat .cartouche-menu--third {
  -webkit-animation: apparition 1.6s;
          animation: apparition 1.6s;
}

.choix-plat .cartouche-menu--fourth {
  -webkit-animation: apparition 1.7s;
          animation: apparition 1.7s;
}

.choix-plat .cartouche-menu:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.choix-plat .cartouche-menu:hover .cartouche-menu__check {
  margin-right: -11px;
}

.choix-plat .cartouche-menu:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.choix-plat .cartouche-menu__texte {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.choix-plat .cartouche-menu__heading {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.choix-plat .cartouche-menu__prix {
  font-weight: 600;
  font-size: 1rem;
}

.choix-plat .cartouche-menu__subtext {
  font-size: 0.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.choix-plat .cartouche-menu__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background: #99e2d0;
  width: 60px;
  height: 62px;
  margin-left: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: -100px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.choix-plat .cartouche-menu .fas {
  color: #fff;
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */