/* REGLES GENERALES */
body {
  font-family: 'Roboto', sans-serif;
}

body, nav, ul, p, h2, h3, h1 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.27rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

#bloc-page {
  width: 100%;
  max-width: 320px;
  margin: auto;
}

/* PAGE D'ACCUEIL */
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  width: 150px;
}

.loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e5e5e5;
  opacity: 0.8;
  padding: 10px;
  -webkit-box-shadow: 0px 5px 10px lightgrey;
          box-shadow: 0px 5px 10px lightgrey;
}

.loc__subtext {
  margin-left: 10px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  background: #f9f9f9;
  text-align: center;
}

.description__subtext {
  margin-top: 15px;
}

.search-but {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 5px 10px lightgrey;
          box-shadow: 0px 5px 10px lightgrey;
  padding: 15px;
  border-radius: 30px;
  background: #ff46cc;
  cursor: pointer;
  border-width: 0;
}

.search-but__texte {
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.fonc__heading {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.fonctionnement__cartouche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  border-radius: 24px;
  background: #f9f9f9;
  -webkit-box-shadow: 0px 5px 10px lightgrey;
          box-shadow: 0px 5px 10px lightgrey;
  padding: 30px;
  padding-left: 30px;
  width: 233px;
  cursor: pointer;
}

.fonctionnement__texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

.fonctionnement .number {
  color: #fff;
  background: #9356DC;
  border-radius: 60px;
  padding: 5px 10px;
  height: 18px;
  margin-left: -40px;
}

.fonctionnement p {
  margin-left: 20px;
  font-weight: 600;
}

.fonctionnement i {
  opacity: 0.5;
}

.restau {
  background: #f9f9f9;
}

.restau__heading {
  padding-bottom: 10px;
  padding-top: 50px;
  margin-left: 15px;
}

.restau .choix-restau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 40px;
}

.restau .choix-restau__figure {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px lightgrey;
          box-shadow: 0px 5px 10px lightgrey;
  position: relative;
}

.restau .choix-restau__nouveau {
  background: #99E2D0;
  color: #278870;
  width: 65px;
  padding: 6px;
  border-radius: 4px;
  padding-right: 8px;
  padding-left: 8px;
  position: absolute;
  top: 0;
  right: 10px;
  margin-top: 10px;
}

.restau .choix-restau__figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restau .choix-restau__texte {
  margin-left: 10px;
}

.restau .choix-restau__heading {
  padding-top: 10px;
}

.restau .choix-restau .heart {
  margin-right: 20px;
}

.restau img {
  width: 290px;
  height: 170px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  font-family: 'Shrikhand';
  color: #fff;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 15px;
}

.footer__link {
  margin-bottom: 10px;
  margin-left: 15px;
}

.footer__link--bold {
  color: #fff;
}

.footer a {
  color: #e6e6e6;
}

/* PARTIE MENU */
.fleche-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fleche-logo img {
  width: 150px;
  margin-top: 10px;
}

.fleche-logo a {
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
  margin-top: 15px;
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background img {
  width: 320px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f9f9f9;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-left: 10px;
  border-radius: 30px 30px 0px 0px;
  margin-top: -50px;
  background: #f9f9f9;
}

.menu h1 {
  font-family: 'Shrikhand';
  font-size: 1.5rem;
}

.menu h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.menu .heart {
  padding-top: 7px;
}

.choix-plat__heading {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 3px;
  font-weight: lighter;
  width: 40px;
  margin-left: 15px;
  background: #f9f9f9;
  margin-bottom: 30px;
  margin-top: 40px;
}

.choix-plat .cartouche-menu {
  background: #fff;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  padding-left: 5px;
  margin-bottom: 18px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px lightgrey;
          box-shadow: 0px 5px 10px lightgrey;
  border: 1px solid #fff;
  cursor: pointer;
}

.choix-plat .cartouche-menu__subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.choix-plat .cartouche-menu__prix {
  font-weight: 600;
}

.choix-plat .cartouche-menu p {
  font-size: 0.8rem;
}
/*# sourceMappingURL=style.css.map */